// I M P O R T
@import "_variables.scss";
@import "../../bower_components/foundation/scss/foundation.scss";
@import "../../bower_components/foundation/scss/normalize.scss";

body{
	width: 100%;
	margin:0;
	background-color: #373537;
	font-family: 'interval', monospace;
	font-weight:normal;
}

h1,h2,h3,h4,h5,h6,p,li{font-family:'interval', monospace;}
h1{font-size:15pt;}
h2{font-size:13pt;}
h3,h4,h5{font-size:9pt; font-weight:bold;}
ul{margin:0;}
a{color: $blue;
&:hover{color:$blue; text-decoration:underline;}
}
p,li{font-size:9pt; }
li{list-style: none;}

figure{width:80%; margin:1cm auto;position:relative;
	figcaption{
		position:absolute;
		left:-5px;
		top:0px;
		font-size: 6pt;
		transform: rotate(90deg);
		transform-origin: left top 0;
		float: left;
		width: 150px;
	}
}
img{max-width:100%;width:100%;}

.journal{
	width: $pageW;
	margin: auto;
	.double-page{
		width:100%;
		height: $pageH;
		background-color: #FFF;
		border: 1px solid #000;
		margin: 100px 0px;
		position:relative;
		.page{
			width: 50%;
			height:100%;
			display:inline-block;
			padding: $margin;
			&:first-child{
				border-right:1px solid #000;
			}
			&:last-child{
				border-left:1px solid #000;
			}
			&.absolute{
				position:absolute;
				top:0;
				left:50%;
			}
		}
	}
}

.titre{
	position:relative;
	z-index:2;
	h1{
		padding:0; 
		margin:0;
		text-transform: uppercase;
		font-size: 18pt;
	}
	.date{position:absolute; top:0; right:0;}
	.subtitle{
		margin-bottom: 40px;
	}
}

.couverture{
	.cover-image{
		position:absolute;
		top:0;
		left:50%;
		opacity: 0.5;
		z-index: 1;
		width: 50%;
		height:$pageH;
		overflow: hidden;
		img{
			width:100%;
			height:100%;
		}
	}
	.text{
		position:relative;
		z-index:2;
		&.english{
			margin-top: 1cm;
			margin-left: 4cm;
		}
	}
}

.programme{
	&.middle{
		height: $pageH;
		padding: $margin;
		column-count:4;
		-moz-column-count:4;
		-webkit-column-count: 4;
		-webkit-column-gap: 50px; /* Chrome, Safari, Opera */
    -moz-column-gap: 50px; /* Firefox */
    column-gap: 50px;
    h1{
    	margin-top:0;
    	-webkit-column-span: all; /* Chrome, Safari, Opera */
    	column-span: all;
    }
	}

	&.last{
		column-count:2;
		-moz-column-count:2;
		-webkit-column-count: 2;
		-webkit-column-gap: 50px; /* Chrome, Safari, Opera */
	  -moz-column-gap: 50px; /* Firefox */
	  column-gap: 50px;
	  h1{
	  	margin-top:0;
	  	-webkit-column-span: all; /* Chrome, Safari, Opera */
	  	column-span: all;
	  }
	}
}

.images {
  .image-item {
  	display:inline-block;
	  width: 20%;
	  vertical-align: top;
	  margin:0 10px 20px 10px;
	  figure{
	  	width:100%;
	  	margin:0;
	  }
	  &.w1{
			width: 70%;
	  }
	  &.w2{
			width: 48%;
	  }
	  &.w3{
			width: 30%;
	  }
	 	&.w4{
			width: 20%;
	  }
	}
}

.ressources{
	.ressource-item{
		width: 47%;
		display:inline-block;
		vertical-align: top;
		border: 3px solid #000;
		p{
			padding: 3px 20px;
		}
		h2{
			border-bottom: 3px solid #000;
			padding: 10px 20px;
		}
		&:first-child{		margin-right:20px;}

	}
}

//HELPERS
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media print {
	
	@page {
		margin:0cm;
		margin-top: 0cm;
		margin-bottom: 0cm;
	}
	@page:first{
		margin-top: 0cm;
	}
	@page:last{
		margin-top: 0cm;
		margin: 0 !important; padding: 0 !important; 
	}

  .journal{
  	.double-page{
  		margin:0;
  		.page{
  			border: none !important;
  		}
  	}
  }


}




